.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: 'Avenir', 'Montserrat', 'Corbel', 'URW Gothic', sans-serif;
  width: 100%;
}

.label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #093030; 
}

.input {
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: #DFF7E2;
  color: #0E3E3E;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.input:focus {
  outline: none;
  background-color: #d1fae5;
}
