.section {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xs {
  margin-block: 4px;
}

.sm {
  margin-block: 8px;
}

.md {
  margin-block: 16px;
}

.lg {
  margin-block: 24px;
}

.xl {
  margin-block: 32px;
}

.x2l {
  margin-block: 40px;
}

.x3l {
  margin-block: 48px;
}
